<div>
    <form #formRef="ngForm">
        <!-- <input type="hidden" name="id" [ngModel]="playlist.id"> -->
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" #nameRef="ngModel" [ngModel]="playlist.name" name="name">
            {{255 - nameRef.viewModel.length}} / 255
        </div>

        <div class="form-group">
            <label>Favorite</label>
            <input [ngModel]="playlist.favorite" name="favorite" type="checkbox">
        </div>

        <div class="form-group">
            <label>Color</label>
            <input [ngModel]="playlist.color" name="color" type="color">
        </div>

        <input type="button" value="Save" class="btn btn-success" (click)="savePlaylist(formRef.value )">
    </form>
</div>