<div class="row">
    <div class="col">

        <app-items-list 
            [selected]="selected"
            (selectedChange)=" selected = $event "
            [items]="playlists">
        </app-items-list>

    </div>
    <div class="col">

        <p *ngIf="!selected">Please select playlist</p>
        
        <div [ngSwitch]="mode" *ngIf="selected">

            <div *ngSwitchDefault>
                <app-playlist-details
                    [playlist]="selected">
                </app-playlist-details>
                <input type="button" value="Edit" class="btn btn-info" (click)="edit()">
            </div>
 

            <div *ngSwitchCase=" 'edit' ">
                <app-playlist-form 
                    (save)="updatePlaylist($event)"
                    [playlist]="selected">
                </app-playlist-form>
                <input type=" button" value="Cancel" class="btn btn-danger" (click)="cancel()">
            </div>
            
        </div>

    </div>
</div>