<div class="card-group">

    <div app-album-card class="card"
    [album]="album" 
    *ngFor="let album of albums"
    ></div>
</div>

<!-- 
<div class="card-group"> 
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5> -->


<style>
    [app-album-card]{
        min-width: 25%;
        max-width: 25%;
    }
</style>      