<!-- .list-group>.list-group-item -->


<div class="list-group">


    <div class="list-group">
        <div class="list-group-item" 
        
        (click)="select(playlist)"
        [class.active]=" playlist == selected "

        *ngFor="let playlist of playlists; index as i">

            {{i+1}}. {{playlist.name}}
        </div>
    </div>

</div>

<!-- 
<ng-template ngFor [ngForOf]="playlists" let-i="index" let-playlist="$implicit">
    <div class="list-group-item">
        {{i+1}} {{playlist.name}}
    </div>
</ng-template> -->