<div>
    <dl [title]="playlist.name"
        [attr.data-playlist-id]="playlist.id">
        <dt>Name</dt>
        <dd [style.font-size.px]="24">{{playlist.name}}</dd>

        <dt>Favorite</dt>
        <dd>{{playlist.favorite? 'Yes':'No'}}</dd>

        <dt>Color</dt>
        <!-- <dd [style.color]="playlist.color"
            [style.background-color]="playlist.color">{{playlist.color}}</dd> -->
        <dd [ngStyle]="{
                color: playlist.color,   
                backgroundColor:playlist.color
            }">{{playlist.color}}</dd>
    </dl>
</div>